<div class="product_profile">
<div class="productRow">
<h1 class="productImg"><img ng-src="{{show.product.ImageUrl}}" />
	{{show.product.Name}}</h1>
	</div>
	<dl class="dl-horizontal">
		<dt>Offered by:</dt>
			<dd>{{show.product.Company}}</dd>
		<dt>Manufacturer</dt>
			<dd>{{show.product.Manufacturer}}</dd>
		<dt>Manufacturer Part Number:</dt>
			<dd>{{show.product.ManufacturerPartNumber}}</dd>
		<dt>Product Number:</dt>
			<dd>{{show.product.ProductNumber}}</dd>
		<dt>Description:</dt>
			<dd>{{show.product.Description}}</dd>
		<dt>Department:</dt>
			<dd>{{show.product.Department}}</dd>
		<dt>Product Line:</dt>
			<dd>{{show.product.ProductLine}}</dd>
		<dt>UPC:</dt>
			<dd>{{show.product.Upc}}</dd>
		<dt>Cost:</dt>
			<dd>{{show.product.Cost | currency}}</dd>
		<dt></dt>
	</dl>
</div>