<div class="formContainer">
	<a class="btn btn-primary btn-lg btn-block" href="/#/customers/new" ng-show="user">New Customer</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/customers" ng-show="user">Customer List</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/services/new" ng-show="user">New Service</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/services" ng-show="user">Services List</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/products/new" ng-show="user">New Product</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/products" ng-show="user">Product List</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/invoices/new" ng-show="user">New Invoice</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/invoices" ng-show="user">Invoice List</a>
</div>