@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Invoice App", "Index", "Angular")
    <p>This app will help owner/operators in the service industry organize customers, products, services and invoices.</p>
</div>