@{
    ViewBag.Title = "Index";
}
<section ng-app="poolApp" class="ang-container cf">
    <div class="col-md-9 app-wrapper" ng-view></div>
</section>
<input type="hidden" value="@ViewBag.UserId" id="userID" />